* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.main {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #ff3ee2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main:hover {
    background-color: #e62eb8;
    transition: background-color 0.3s ease;
}

.active {
    animation: fadeOut 3s ease forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(0);
        display: none;
    }
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
}

.animate {
    animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.0001);
    }
}
